// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=74V0u0k2mbN5Ng038a33W8h4C62 */

// Feel free to copy&paste color codes to your application */

// As hex codes */

// ---------------------------------------

// Pink 
$pink-0: #A001A6;	// Main Primary color */
$pink-1: #B84ABC;
$pink-2: #A727AB;
$pink-3: #7C0180;
$pink-4: #610065;

$grey-pink-0: #3D393D;	// Main Primary grey */
$grey-pink-1: #534453;
$grey-pink-2: #342F34;
$grey-pink-3: #2B262B;
$grey-pink-4: #1F1B1F;

$white-0: #DBD3DB;	// Main Primary color */
$white-1: #AE87AF;
$white-2: #C3A7C4;
$white-3: #AA9EAB;
$white-4: #978998;

// ---------------------------------------

//red
$red-0: #E20048;	// Main Secondary color (1) */
$red-1: #EA5B89;
$red-2: #E4336C;
$red-3: #AF0038;
$red-4: #89002C;

$grey-red-0: #534D4F;	// Main Secondary grey (1) */
$grey-red-1: #715D63;
$grey-red-2: #474042;
$grey-red-3: #3A3336;
$grey-red-4: #2B2526;

// ------------------------------------------------

//green
$green-0: #6BE400;	// Main Secondary color (2) */
$green-1: #9FEB5C;
$green-2: #87E633;
$green-3: #53B000;
$green-4: #418A00;

$grey-green-0: #51544E;	// Main Secondary grey (2) */
$grey-green-1: #67725D;
$grey-green-2: #444841;
$grey-green-3: #373B34;
$grey-green-4: #282B25;

// -----------------------------------------------

$yellow-0: #CFF700;	// Main Complement color */
$yellow-1: #E0F961;
$yellow-2: #D8F737;
$yellow-3: #A0BE00;
$yellow-4: #7E9600;

$white-5: #FFFEF6;	// Main Primary color */
$white-6: #C1BD98;
$white-7: #D6D2B8;
$white-8: #D4D2CA;
$white-9: #BDBCB4;

$grey-yellow-0: #5A5B54;	// Main Complement grey */
$grey-yellow-1: #323232;
$grey-yellow-2: #444740;
$grey-yellow-3: #3E4038;
$grey-yellow-4: #2D2E28;

/* ==========================================================================
Color variables
========================================================================== */

$primary: $pink-0;
$secondary: $red-0;
$accent: $yellow-0;

$purple: $pink-3;
$mint: $green-1;
$bloody: $red-1;
$pinky: $pink-1;
$frost: #4593B0;
$placeholder: $yellow-1;

// 0
$fade-grey: $grey-pink-0;
$light-grey: $grey-red-0;	
$title-grey: $white-6;
$blue-grey: $grey-yellow-1;

// 1
$light-blue-grey: $white-7;
$medium-grey: $grey-pink-1;
$basaltic-grey: $grey-red-1;

// 3
$dark-grey: $grey-pink-2;
$border-grey: $grey-red-2;
$muted-grey: $white-2;
$section-grey: $grey-yellow-2;

// 4 
$white: $white-0;
$smoke-white: $white-1;	
$grey-white: $white-2;

$dark-khaki: $grey-green-1;
$grey2-secondary-1-2: $grey-red-2;
$grey1-primary-4: $grey-pink-4;