/* ==========================================================================
Color variables
========================================================================== */

$white: #645A57;
$smoke-white: #646157;
$grey-white: #645E57;

$primary: #076C93;
$secondary: #152BA0;
$accent: #EAA702;

$fade-grey: #373A3B;
$light-grey: #424C50;
$title-grey: #2E3132;
$blue-grey: #2E3132;
$muted-grey: #232526;
$light-blue-grey: #373D3F;
$medium-grey: #2B2F31;
$basaltic-grey: #1F2324;
$purple: #9F46B7;
$mint: #AEED56;
$bloody: #EB2A02;
$pinky: #DF518F;
$frost: #4593B0;
$placeholder: #1B2F36;
$dark-grey: #161819;
$border-grey: #374A51;
$muted-grey: #2A3437;
$section-grey: #1C2528;

// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=71+0u0kvNtpkpAwpRw5yZntF6ih */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$brights-primary-0: #D3E602;	// Main Primary color */
$brights-primary-1: #EEFB5B;
$brights-primary-2: #EAFB30;
$brights-primary-3: #A8B800;
$brights-primary-4: #838F00;

$brights-secondary-1-0: #7DD701;	// Main Secondary color (1) */
$brights-secondary-1-1: #AEED56;
$brights-secondary-1-2: #9AEA2D;
$brights-secondary-1-3: #63AB00;
$brights-secondary-1-4: #4D8500;

$brights-secondary-2-0: #C60158;	// Main Secondary color (2) */
$brights-secondary-2-1: #DF518F;
$brights-secondary-2-2: #D82A76;
$brights-secondary-2-3: #9E0045;
$brights-secondary-2-4: #7B0036;

$brights-complement-0: #7A069B;	// Main Complement color */
$brights-complement-1: #9F46B7;
$brights-complement-2: #8C25A9;
$brights-complement-3: #61047C;
$brights-complement-4: #4C0260;


// As hex codes */

$mids-primary-0: #076C93;	// Main Primary color */
$mids-primary-1: #4593B0;
$mids-primary-2: #247EA0;
$mids-primary-3: #045675;
$mids-primary-4: #03435B;

$mids-secondary-1-0: #152BA0;	// Main Secondary color (1) */
$mids-secondary-1-1: #5364BC;
$mids-secondary-1-2: #3347AF;
$mids-secondary-1-3: #0F2180;
$mids-secondary-1-4: #091764;

$mids-secondary-2-0: #EAA702;	// Main Secondary color (2) */
$mids-secondary-2-1: #FFD05D;
$mids-secondary-2-2: #FFC431;
$mids-secondary-2-3: #BB8500;
$mids-secondary-2-4: #926800;

$mids-complement-0: #EA7B02;	// Main Complement color */
$mids-complement-1: #FFB15D;
$mids-complement-2: #FF9C31;
$mids-complement-3: #BB6100;
$mids-complement-4: #924C00;


// DARKS */
// As hex codes */

$blue-primary-0: #09475F; // Main Primary blue */
$blue-primary-1: #076C93;
$blue-primary-2: #0C5875;
$blue-primary-3: #033142;
$blue-primary-4: #021D27;

$yeller-secondary-1-0: #976E08; // Main Secondary yeller (1) */
$yeller-secondary-1-1: #EBA702;
$yeller-secondary-1-2: #BA880B;
$yeller-secondary-1-3: #694B00;
$yeller-secondary-1-4: #3E2C00;

$red-secondary-2-0: #972108; // Main Secondary red (2) */
$red-secondary-2-1: #EB2A02;
$red-secondary-2-2: #BA2A0B;
$red-secondary-2-3: #691200;
$red-secondary-2-4: #3E0B00;

$ernge-complement-0: #975208; // Main Complement ernge */
$ernge-complement-1: #EB7B02;
$ernge-complement-2: #BA660B;
$ernge-complement-3: #693700;
$ernge-complement-4: #3E2000;

//The Blues */
// As hex codes */

$mustard-primary-0: #674900; // Main Primary mustard */
$mustard-primary-1: #412F02;
$mustard-primary-2: #4F3800;
$mustard-primary-3: #9B6E00;
$mustard-primary-4: #D39600;

$purp-secondary-1-0: #1B0546; // Main Secondary purp (1) */
$purp-secondary-1-1: #13052C;
$purp-secondary-1-2: #150436;
$purp-secondary-1-3: #2A086A;
$purp-secondary-1-4: #380A90;

$teal-secondary-2-0: #022F40; // Main Secondary teal (2) */
$teal-secondary-2-1: #031E29;
$teal-secondary-2-2: #012432;
$teal-secondary-2-3: #034761;
$teal-secondary-2-4: #046184;

$indigo-complement-0: #061046; // Main Complement indigo */
$indigo-complement-1: #060C2C;
$indigo-complement-2: #050D36;
$indigo-complement-3: #0B1A6A;
$indigo-complement-4: #0D2290;


// THE Grays */

// As hex codes */
$grey1-primary-0: #161819; // Main Primary grey1 */
$grey1-primary-1: #374A51;
$grey1-primary-2: #2A3437;
$grey1-primary-3: #1C2528;
$grey1-primary-4: #1B2F36;

// As hex codes */
$grey1-primary-0: #232526; // Main Primary grey1 */
$grey1-primary-1: #373D3F;
$grey1-primary-2: #2B2F31;
$grey1-primary-3: #1F2324;
$grey1-primary-4: #161C1F;

$grey1-primary-0: #373A3B; // Main Primary grey1 */
$grey1-primary-1: #424C50;
$grey1-primary-2: #2E3132;
$grey1-primary-3: #242829;
$grey1-primary-4: #1A1D1E;

// As hex codes */

// Set #2 */

$grey2-primary-0: #232627; // Main Primary grey2 */
$grey2-primary-1: #373D40;
$grey2-primary-2: #2C3031;
$grey2-primary-3: #1F2324;
$grey2-primary-4: #161C1F;

$grey2-secondary-1-0: #3D3C37; // Main Secondary grey2 (1) */
$grey2-secondary-1-1: #646157;
$grey2-secondary-1-2: #4E4C45;
$grey2-secondary-1-3: #393731;
$grey2-secondary-1-4: #312D22;

$grey2-secondary-2-0: #3D3837; // Main Secondary grey2 (2) */
$grey2-secondary-2-1: #645A57;
$grey2-secondary-2-2: #4E4745;
$grey2-secondary-2-3: #393231;
$grey2-secondary-2-4: #312622;

$grey2-complement-0: #3D3A37; // Main Complement grey2 */
$grey2-complement-1: #645E57;
$grey2-complement-2: #4E4A45;
$grey2-complement-3: #393531;
$grey2-complement-4: #312A22;