<section class="section section-secondary is-medium" id="section4">
  <div class="container">
    <div class="columns">
      <div class="column is-7 mt-60">
        <article class="media icon-box">
          <div class="media-content mt-50">
            {{ with .iconbox }}
            <h3 class="icon-box-title title is-5">{{ .title }}</h3>
            <div class="divider"></div>
            <div class="content">
              <p>
                <p>{{ .content | safeHTML }}</p>
              </p>
            </div>
            {{ end }}
          </div>
        </article>
        <p class="has-text-centered mt-20">
          {{ with .button }}
            <a class="button cta is-large rounded secondary-btn raised" href="{{ .link }}">
            {{ .text }}
          {{ end }}
          </a>
        </p>
      </div>
      <div class="column is-centered-tablet-portrait">
        {{ with .title }}<h1 class="title section-title">{{ . }}</h1>{{ end }}
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              {{ with .image }}
                <img src="{{ .src }}" alt="{{ .alt }}">
              {{ end }}
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
