{{- $file := . -}}
{{- $tiles := $file.tiles -}}
<section class="section section-feature-grey is-medium" id="section1">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      {{ with .title }}<h2 class="title is-2">{{ . }}</h2>{{ end }}
      {{ with .subtitle }}<h3 class="subtitle is-5 is-muted">{{ . }}</h3>{{ end }}
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      {{- range $tiles }}
      <div class="columns">
        <div class="column is-two-third">
          <div class="card is-bordered has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-header">
              <div class="card-title card-header-title">
                <h4>{{ .title }}</h4>
              </div>
              <!-- <div class="card-icon card-header-icon">
                  <img src="{{ printf "/images/%s.png" .icon | relURL }}">
              </div> -->
            </div>
            <div class="card-content">
              <div class="card-text">
                  <p>{{ .content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{- end }}
      {{ with .button}}
      <p class="has-text-centered mt-20">
          <a class="button cta is-large rounded secondary-btn raised" href="{{ .link }}">
            {{ .text }}
          </a>
      </p>
      {{ end }}
    </div>
  </div>
</section>