{{/* {{- $file := . -}} */}}
{{/* {{- $tiles := $file.tiles -}} */}}
<section class="section section-feature-grey is-medium" id="section9">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ .title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ .subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>
    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-large">
          <div class="card is-bordered has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-content">
              <div class="card-text">
                  <p>{{ .content }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>