{{- $file := . -}}
{{- $banner := $file.banner -}}
<section class="section section-feature-grey is-medium" id="section6">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      {{ with $banner }}
        <h2 class="title is-2">{{ .title }}</h2>
        <h3 class="subtitle is-5 is-muted">{{ .subtitle }}</h3>
        <div class="divider is-centered"></div>
      {{ end }}
    </div>
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <div class="content-wrapper">
          <div class="content">
            <p>
              {{ .content | safeHTML }}
            </p>
          </div>
        </div>
        <figure class="image is-5by3 is-centered">
          {{ with .image }}
            <img class="pushed-image" src="{{ printf "/images/%s" . | relURL }}">
          {{ end }}
        </figure>
        <p class="has-text-centered mt-20">
          <a class="button cta is-large rounded secondary-btn raised" href="{{ .buttonLink }}">
            {{ .buttonText }}
          </a>
        </p>
      </div>
    </div>
  </div>
</section>