<section class="section section-secondary is-medium" id="section2">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      {{ with .banner }}
      <h2 class="title is-2">{{ .title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ .subtitle }}</h3>
      <div class="divider is-centered"></div>
      {{ end }}
    </div>
    <!-- Yes, I am this old...it is sad, isn't it. -->
    <br>
    <br>
    <br>
    <div class="columns">
      <!-- Column One -->
      <div class="column is-centered-tablet-portrait">
        {{ with .photo1 }}
        <h1 class="title section-title">{{ .title }}</h1>
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <a data-lightbox="gallery" href="{{ .src }}"><img src="{{ .src }}" alt="{{ .alt }}"/></a>
            </figure>
          </div>
        </div>
        {{ end }}
      </div>
      <!-- Column Two -->
      <div class="column is-centered-tablet-portrait">
        {{ with .photo2 }}
        <h1 class="title section-title">{{ .title }}</h1>
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <a data-lightbox="gallery" href="{{ .src }}"><img src="{{ .src }}" alt="{{ .alt }}"/></a>
            </figure>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="column is-centered-tablet-portrait">
        {{ with .photo3 }}
        <h1 class="title section-title">{{ .title }}</h1>
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <a data-lightbox="gallery" href="{{ .src }}"><img src="{{ .src }}" alt="{{ .alt }}"/></a>
            </figure>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>