{{ define "main" }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{/*<!-- Old section 1 -->*/}}
    {{ partial "section1" site.Data.section1 }}
    {{/*<!-- old section 8 -->*/}}
    {{ partial "section2" site.Data.section2 }}
    {{/*<!-- old section 2 -->*/}}
    {{ partial "section3" site.Data.section3 }}
     {{/*<!-- old section 6 -->*/}}
    {{ partial "section4" site.Data.section4 }}
    {{/*<!-- old section 7 -->*/}}
    {{ partial "section5" site.Data.section5 }}
    {{/*<!-- old section 3 -->*/}}
    {{ if .Site.Params.section6 }}
    {{ partial "section6.html" . }}
    {{ end }}

    {{ partial "timeline.html" site.Data.timeline }}
    {{/*<!-- old section 9 -->*/}}
    {{ partial "section7" site.Data.section7 }}

    {{/*<!-- old section 4 -->*/}}
    {{ if .Site.Params.section8 }}
    {{ partial "section8.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}

{{ end }}
